h1{
    color: darkblue;
    text-align: center;
    font-family: verdana;
}
h3 {
    color: blue;
    border-style: inset;
}
h5 {
    color: blue;
    border-style: inset;
}
h6 {
    color: Gray;
    border-style: dotted 
}
div{
    color: blue;
    border-style: inset;
}
body {
    background-color: BlanchedAlmond ;
    
}