header {
    text-align: center;
    font-size: 100px;
    padding: 25px 50px 25px 50px;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
}

body{
    background-image: url("images/IMG_4.jpg");
    background-position: center;
    background-size: cover;
}

img {
    width: 50%;
    height: auto;
    background-size:auto;
    border-radius: 20px;
}

.polaroid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: grey;
  margin-bottom: 20px;
  border-style: dashed;
  border-radius: 20px;
  border-color: silver ;
}

.container {
  text-align: center;
  font-family: 'Poor Story', cursive;
}

.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inherit;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
}

.button2 {
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inherit;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
h2{
    font-family: 'Rakkas';
    color:white;
    font-size: 20px;
    text-align: center;
}
