header {
    text-align: center;
    font-size: 30px;
    padding: 25px 50px 25px 50px;
}
body{
    background-image: 'IMG_3244.gif' ;
    background-position: center;
    background-size: cover;
}
.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.container {
  text-align: center;
  padding: 10px 20px;
}