body {
    background-color: Lightgrey;
}
h1{
    margin: auto;
    text-align-last: center;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align-last: center;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}